---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
  },
}
const PROJECTS = [
  {
    title: "Carpinteria TIL",
    description:
      "Responsive and animated website, featuring an interactive carousel and image gallery. Developed from scratch using HTML, CSS, Bootstrap, jQuery, and various JavaScript libraries.",
    link: "https://til-aofx3xp8t-tomas95labs-projects.vercel.app/",
    image: "/projects/TIL.png",
  },
  {
    title: "TWEETER",
    description:
      "Social network interface inspired by Twitter, featuring an interactive feed, a section for posting tweets, trending topics, and user recommendations. Integration with the Unavatar API to dynamically display profiles. Created from scratch using Vite, React, and CSS.",
    link: "https://joyful-tartufo-5625a6.netlify.app/",
    image: "/projects/tweeter.png",
  },
  {
    title: "Unplash",
    description:
      "Minimalist interface with an integrated search to filter images by name. Created from scratch using Vite, React, and CSS.",
    link: "https://cosmic-medovik-8405da.netlify.app/",
    image: "/projects/unplash.webp",
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



